body {
	margin: 0;
	background-image: url("images/BigD.jpg");
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height: 100vh;
	background-color: black;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: 100%;
	color: white;		
	height: 100vh;
	}
.div01 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(36, 101, 161);	
	padding-top: 500px;	
	padding-left: 50px;
	}
.div02 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height: 100vh;
	background-color: black;
	background-image: url("images/BigD.jpg");
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: 100%;
	color: rgb(13, 118, 136);		
	} 